.hidden {
	display: none;
}

#username {
	width: 120px;
}

#login {
	float:right;
}

.translateX {
-moz-transform:translateX(100deg); /* Firefox 3.6 Firefox 4 */
-webkit-transform:translateX(100deg); /* Safari */
-o-transform:translateX(100deg); /* Opera */
-ms-transform:translateX(100deg); /* IE9 */
transform:translateX(100deg); /* W3C */
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	border: 0px solid #f0f;
	padding: 0px !important;
}

.JBmaphead {
	display: none;
}

#map0 {
	width: 100% !important;
}

#loginSubmit {
	height: 30px;
	color: #fff;
	font-size: 12px;
	background-color: #0B4B9F;
	border: none;
}

#footer_red {
	background-color: #E2001A;
	height: 6px;
	width: 49%;
}


#footer_blue {
	background-color: #004494;
	height: 10px;
	width: 100%;
}

#shipperOverview>table>tbody>tr:nth-child(2) {
	display: none;
}

.btn {
	height: 30px;
	color: #fff;
	font-size: 12px;
	background-color: #004494;
	border: none;
}

#getThreeWords {
	float: right;
	
}
