body {
	font-weight: bold;
	font-family: arial;
	font-size: 8px;
}

#header {
    height:70px;
    background:#F0F0F0;
    border:1px solid #CCC;
    margin:0px auto;
}

#header h1 {
	text-align: center;
}

#login {
	float: right;
	padding-right: 50px;
}

#content {
	width: 1000px;
	margin: 0 auto;
	margin-top: 100px;
}

.area {
	background-color: #F0F0F0;
	border: #CCC solid 1px;
	border-radius: 20px;
	padding: 10px;
	margin: 5px;
}

.hidden {
	display: none;
}